@import "bootstrap";

body, html {
  -webkit-font-smoothing: antialiased;
}

.pointer {
  cursor: pointer;
}

.btn-success, .btn-primary {
  .text-muted {
    color: #fff !important;
  };
}

.outline-none {
  outline: 0 !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.btn {
    text-decoration: none;
  }
}

.sidebar-items {
  &> div {
    border-right: 1px solid #e5e5e5;
    text-align: center;
    min-height: 4rem;
    max-height: 4rem;
    display: flex;
  }

  &> div:not(.apps) {
    min-width: 4rem;
    align-items: center !important;
    justify-content: center !important;
  }
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.masonry-grid_column {
  background-clip: padding-box;
  height: 100%;
}

.webcam-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.webcam {
  width: 100%;
  height: 100%;
}

.capture-button {
  position: fixed;
  bottom: 20px;
  background-color: #61dafb;
  color: #282c34;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

}

.capture-button:hover {
  background-color: #39a9db;
  color: white;
}
